apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: backend
    spec:
      volumes:
        - name: tmp
          emptyDir: {}
      containers:
        - name: app
          image: dev.local/d22/backend
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
              name: web
              protocol: TCP
          volumeMounts:
            - name: tmp
              mountPath: /tmp
          readinessProbe:
            httpGet:
              port: web
              path: /healthz
            initialDelaySeconds: 60
